<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="УП_ИСРПО.Properties.Settings.KolesovaSainaConnectionString"
            connectionString="Data Source=LAPTOP-LG6B5DKF;Initial Catalog=KolesovaSaina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>